<div class="col-sm-3">
    <ul class="list-group list-group-flush">
        <li class="list-group-item  bg-light">社区运行状态</li>
        <li class="list-group-item bg-light">
            <div class="btn btn-link text-secondary">程序员</div>
            <div class="btn btn-link text-secondary">Python</div>
            <div class="btn btn-link text-secondary">iDev</div>
            <div class="btn btn-link text-secondary">Android</div>
            <div class="btn btn-link text-secondary">Linux</div>
            <div class="btn btn-link text-secondary">node.js</div>
            <div class="btn btn-link text-secondary">云计算</div>
            <div class="btn btn-link text-secondary">宽带症候群</div>
        </li>
    </ul>
</div>
<div class="col-sm-9">
    <div class="card">
        <div class="card-body">
            <h5>用户详情</h5>
            <hr>
            <form method="POST" action="/user/register">
                <div class="form-group">
                    <div>
                        <label for="inputName">头像</label>
                    </div>
                    <div>
                        <img src="/{{ .Session.user.avatar }}" class="img-thumbnail"
                             style="height: 100px;width: 100px;border-radius: 50%;">
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <input type="text" class="form-control" readonly>
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="button">上传头像</button>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-label-group error">
                        <label for="inputName">昵称</label>
                        <input type="text" id="inputName" name="name" class="form-control"
                               placeholder="Email address" required="required" autofocus="autofocus"
                               value="{{ .Session.user.name }}">
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-label-group error">
                        <label for="inputEmail">邮箱</label>
                        <input type="email" id="inputEmail" name="email" class="form-control"
                               placeholder="Email address" required="required" autofocus="autofocus"
                               value="{{ .Session.user.email }}">
                    </div>
                </div>
                <button class="btn btn-secondary">修改</button>
            </form>
        </div>
    </div>
</div>