<div class="col-sm-5 m-auto">
    <div class="card">
        <div class="card-body">
            <b>用户注册</b>
            <hr>
            {{AlertComponent .Session.error "danger"}}
            <form method="POST" action="/user/register">
                <div class="form-group">
                    <div class="form-label-group error">
                        <input type="text" id="inputName" name="name" class="form-control form-control-lg"
                               placeholder="昵称" required="required" autofocus>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-label-group error">
                        <input type="email" id="inputEmail" name="email" class="form-control form-control-lg"
                               placeholder="邮箱" required="required" autofocus>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-label-group">
                        <input type="password" name="password" class="form-control form-control-lg"
                               placeholder="密码" required  autofocus>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-label-group">
                        <input type="password" name="confirm_password" class="form-control form-control-lg"
                               placeholder="确认密码" required autofocus="autofocus">
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-label-group">
                        <div class="input-group mb-3">
                            <input type="text" class="form-control form-control-lg" placeholder="验证码" required autofocus>
                            <div class="input-group-append">
                                <img src="/uploadfile/c3obhscjju6o5pr8fw.jpg" style="height: calc(2.875rem + 2px);width: 200px;border-radius: 2px;" type="button">
                            </div>
                        </div>

                    </div>
                </div>
                <button class="btn btn-primary submit-register" type="button">确定注册</button>
            </form>
        </div>
    </div>
</div>
<script>
    $(function () {
        $('.submit-register').on('click', function () {
            $(this).attr("disabled", true).text("正在注册");
            $('form').submit();
        });
    })
</script>