<script src="/web/js/editor.min.js"></script>
<style>
    .comment-action {
        font-size: 13px;
        color: #999;
        cursor: pointer;
    }

    .posts-content img {
        max-width: 100%;
        margin-bottom: 30px;
        margin-top: 10px;
        border-radius: 2px;
        border: 1px solid #ddd;
        -webkit-box-shadow: 0 0 10px #ccc;
        box-shadow: 0 0 10px #ccc;
        cursor: pointer;
    }

    .comment-content img {
        margin-bottom: 30px;
        margin-top: 10px;
        border-radius: 2px;
        border: 1px solid #ddd;
        -webkit-box-shadow: 0 0 10px #ccc;
        box-shadow: 0 0 10px #ccc;
        cursor: pointer;
    }

    .user-avatar {
        width: 7%;
        float: left;
    }

    .user-avatar-img {
        height: 48px;
        width: 48px;
        border-radius: 50%;
    }

    .posts-title-div {
        width: 93%;
        float: left;
    }

    .posts-title-span {
        font-size: 16px;
        line-height: 130%;
        text-shadow: 0 1px 0 #fff;
    }

    .posts-title-a {
        color: #222;
    }

    .posts-info-span {
        font-size: 12px;
        color: #ccc;
    }

    .posts-info-span a {
        color: #778087;
    }
</style>
<div class="col-sm-9">
    {{AlertComponent .Session.error "danger"}}
    {{AlertComponent .Session.success "success"}}
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            <div class="user-avatar">
                <img src="{{ .posts.avatar }}" class="user-avatar-img">
            </div>
            <div class="posts-title-div">
                        <span class="posts-title-span">
                            {{if eq .posts.fine 1}}<span class="badge badge-warning">精</span>{{end}}<a
                                    href="/posts/{{ .posts.id }}" class="posts-title-a">{{ .posts.title }}</a>
                        </span>
                <br>
                <span class="posts-info-span">
                            <a href="/users/{{ .posts.uid }}">{{ .posts.user_name }}</a>  •  {{StrTime .posts.create_at.String}} •
                                 <a href="/?nid={{ .posts.nid }}">{{ .posts.node_name }}</a>
                             <span>• 回复数 {{ .posts.comment_num }}</span>
                            {{if gt .posts.luid 0}} •  最后回复来自
                            <a href="/users/{{  .posts.luid }}">{{ .posts.last_user_name }}</a>
                            {{end}}
                        </span>
            </div>
        </li>
        <li class="list-group-item posts-content" style="padding: 20px;">
            {{.posts.content}}
        </li>
        <li class="list-group-item  mt-1" style="color: #999;font-size: 14px;">
            {{ .posts.comment_num }} 条回复
        </li>
        {{range $comment := .comments}}
            <div class="list-group-item">
                <div class="comment-user-info" style="height: 22px;">
                    <a href="/users/{{$comment.uid}}">
                        <img
                                src="{{$comment.avatar}}"
                                style="border-radius:50%;height: 30px;width:30px;"
                        />
                    </a>
                    <a href="" style="font-size: 14px;">{{$comment.name}}</a
                    > {{if gt $comment.ruid 0}} <span style="color:#b5bac4 !important;font-size: 14px; ">回复了</span>
                    <a href="/users/{{ $comment.uid }}" style="font-size: 14px;">{{ $comment.r_user_name }}</a>
                    {{end}}
                    <span style="font-size: 12px;color: #999;"
                    >{{StrTime $comment.create_at.String}}</span
                    >
                </div>
                <br/>
                <div class="comment-content" style="font-size: 14px;">
                    <div>{{ $comment.content }}</div>
                    <!-- Whether to log in -->
                    {{if $.Session.user.id}}
                        <div style="width: 100%;text-align: right;">
                            <a class="comment-action comment-reply" data-id="{{ $comment.uid }}"
                               data-username="{{ $comment.name }}" href="#comment-box">回复</a>
                            {{/*                            <span class="comment-action comment-report" data-id="{{ $comment.id }}">举报</span>*/}}
                            {{if eq $.Session.user.id $comment.uid}}
                                <span class="comment-action comment-delete">删除</span>
                            {{end}}
                            <form action="/comments/{{ $comment.id }}/delete" class="delete-form" method="POST"
                                  style="display: none;"></form>
                        </div>
                    {{end}}
                </div>
            </div>
        {{end}}
        <li class="list-group-item">
            <div class="page">
                {{ .page }}
            </div>
        </li>
        <!-- Comment box -->
        <li class="list-group-item" id="comment-box">
            {{if eq .Session.user.id ""}}
                需要<a href="/user/login" class="btn btn-link">登录</a>
                后方可回复, 如果你还没有账号请点击这里<a href="/user/register" class="btn btn btn-link">注册</a>。
            {{else}}
                <span class="reply-user"></span>
                <form action="/comments" method="POST" class="mt-2" id="comment-form">
                    <div class="form-group">
                        <div id="wang-editor"></div>
                        <input type="hidden" name="content" id="html-content">
                    </div>
                    <input type="hidden" name="pid" value="{{ .posts.id }}">
                    <input type="hidden" name="puid" value="{{ .posts.uid }}">
                    <input type="hidden" name="ruid" value="0" class="ruid-input">
                    <input type="hidden" name="uid" value="{{ .Session.user.id }}">
                    <div class="form-group">
                        <button class="btn btn-primary submit-btn" type="button">
                            回复
                        </button>
                    </div>
                </form>
            {{end}}
        </li>
    </ul>
</div>
<div class="col-sm-3">
    <div class="card">
        <div class="card-body text-center">
            <img src="{{ .posts.avatar }}" style="width: 68px;height: 68px;border-radius: 50%;border: 2px solid #fff;">
            <br>
            <a href="/users/{{ .posts.uid }}" class="btn btn-link">{{ .posts.user_name }}</a>
            <div style="font-size: 12px;">{{ .posts.sign }}</div>
            <hr>
            <div>
                <div style="display: inline-block;font-size: 12px;padding:4px;">帖子<br>({{ .posts.posts_num }})</div>
                <div style="display: inline-block;font-size: 12px;padding: 4px;">评论<br>({{ .posts.comments_num }})</div>
                <div style="display: inline-block;font-size: 12px;padding: 4px;">注册排名<br>({{ .posts.uid }})</div>
            </div>
        </div>
    </div>
</div>
<script>
    $(function () {
        $(".submit-btn").on("click", function () {
            // Determine whether to log in
            if ("{{ .Session.user.id }}" !== "") {
                $("#comment-form").submit();
            } else {
                alert("请先登录");
            }
        });

        $('.comment-action').on('click', function () {
            // 删除评论
            if ($(this).hasClass('comment-delete')) {
                $(this).parent().find('.delete-form').submit();
            } else if ($(this).hasClass('comment-reply')) {
                const ruid = $(this).attr('data-id');
                const username = $(this).attr('data-username');
                $('.reply-user').html('回复: ' + username + ' <a href="javascript:;" class="close-reply"><i class="fa fa-times"></i></a>');
                $('.ruid-input').val(ruid);
            }
        });

        // 删除回复
        $('.reply-user').on('click', '.close-reply', function () {
            $(this).parent().html("");
            $('.ruid-input').val(0);
        });

        // Initialize rich text
        const E = window.wangEditor;
        const editor = new E("#wang-editor");
        editor.config.onchange = function (html) {
            $("#html-content").val(html);
        };
        // Editor menu items
        editor.config.menus = [
            "head",
            "bold",
            "fontSize",
            "fontName",
            "italic",
            "underline",
            "strikeThrough",
            "indent",
            "lineHeight",
            "foreColor",
            "backColor",
            "link",
            "list",
            "justify",
            "quote",
            "image",
            // "table",
            "code",
            "splitLine",
            "undo",
            "redo"
        ];
        // Ignore pictures in pasted content
        editor.config.pasteIgnoreImg = true;
        // Upload file name
        editor.config.uploadFileName = "file";
        // Upload request URL
        editor.config.uploadImgServer = "/file";
        // Upload parameter settings
        editor.config.uploadImgParams = {};
        editor.config.uploadImgMaxSize = 5 * 1024 * 1024 // 5M
        // Create editor
        editor.create();
    });
</script>
