<style>
    .tab-active {
        background: rgba(0, 0, 0, .05);
    }

    .edit-info-a {
        color: rgba(0, 0, 0, .87);
        text-decoration: none;
    }
</style>
<div class="col-sm-3">
    <ul class="list-group list-group-flush">
        <li class="list-group-item text-center {{if eq .Query.tab "t"}} tab-active {{end}}">
            <a href="/message?tab=t" class="edit-info-a"><i class="fa fa-bell"></i> 通知 </a>
        </li>
        <li class="list-group-item text-center {{if eq .Query.tab "s"}} tab-active {{end}}">
            <a href="/message?tab=s" class="edit-info-a"><i class="fa fa-envelope"></i> 私信 </a>
        </li>
    </ul>
</div>
<div class="col-sm-9">
    <ul class="list-group">
        {{if eq .Query.tab "t"}}
            <li class="list-group-item"><i class="fa fa-bell"></i> 我的通知</li>
            {{if .items}}
                {{range $item := .items}}
                    <li class="list-group-item">
                        <div style="line-height: 36px;font-size: 14px;">
                            <img src="{{ $item.avatar }}"
                                 style="height: 36px;width:36px;border-radius: 50%;">
                            <a href="/users/{{ $item.suid }}">{{ $item.name }}</a>
                            {{if eq $item.action "comment"}}评论了你的帖子:{{else if eq $item.action "reply"}}回复了你的评论:{{else}}{{end}}
                            <a href="/posts/{{ $item.tid }}">{{StrLimit $item.title 0 50}}</a>
                            <span style="font-size: 12px;float: right;">{{StrTime $item.create_at.String}}</span>
                        </div>
                    </li>
                {{end}}
                <li class="list-group-item">
                    {{ .page }}
                </li>
            {{else}}
                <li class="list-group-item"> ~ 暂无消息</li>
            {{end}}
        {{else}}
            <li class="list-group-item"><i class="fa fa-envelope"></i> 我的私信</li>
            <li class="list-group-item">
                待开发...
                {{/*                <div class="media">*/}}
                {{/*                    <img class="align-self-start mr-3" src="/uploadfile/c6askj6jf88oc6eqp5.png"*/}}
                {{/*                         style="height: 36px;width: 36px;" alt="Generic placeholder image">*/}}
                {{/*                    <div class="media-body">*/}}
                {{/*                        <a href="" class="mt-0" style="font-size: 14px;">马可波罗</a>*/}}
                {{/*                        <p style="padding: 0;margin: 0;font-size: 14px;">可以加你的微信嘛，我这里有妹子。</p>*/}}
                {{/*                        <span class="ml-3" style="font-size: 12px;color: #878a8c;">1个小时前</span>*/}}
                {{/*                    </div>*/}}
                {{/*                </div>*/}}
            </li>
        {{end}}
    </ul>
</div>