<div class="card">
    <div class="card-header">
        管理员管理
    </div>
    <div class="card-body">
        <form class="form-inline" method="GET" action='/admin/posts'>
            <div class="input-group mb-1">
                <a class="btn btn-primary btn-sm" href="/admin/admins/add">添加</a>
            </div>
        </form>
        <table class="table table-bordered" style="font-size: 13px;text-align: center;">
            <thead>
            <tr>
                <th>#ID</th>
                <th>名称</th>
                <th>邮箱</th>
                <th>状态</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            {{range $item := .items}}
                <tr>
                    <td>{{ $item.id }}</td>
                    <td>{{ $item.name }}</td>
                    <td>{{ $item.email }}</td>
                    <td>
                        {{if eq $item.status 0}}
                            <span class="badge badge-success">正常</span>
                        {{else}}
                            <span class="badge badge-danger">禁用</span>
                        {{end}}
                    </td>
                    <td>
                        <a class="btn btn-primary btn-sm" href="/admin/admins/{{ $item.id }}/edit">编辑</a>

                        <form action="/admin/admins/{{ $item.id }}/delete" method="POST" style="display: inline-block;">
                            <button class="btn btn-danger btn-sm">删除</button>
                        </form>

                    </td>
                </tr>
            {{end}}
            </tbody>
        </table>
    </div>
</div>
<div style="font-size: 12px; float:right; text-align: right" class="mt-1">
    <div class="form-control">{{ .page }}</div>
</div>