<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>GF-BBS</title>
    <!-- Bootstrap core JavaScript-->
    <script src="/admin/vendor/jquery/jquery.min.js"></script>
    <script src="/markdown/js/editormd.min.js"></script>
    <!-- Bootstrap core CSS-->
    <link href="/admin/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <script src="/admin/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Custom fonts for this template-->
    <link href="/admin/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="/web/web.css" rel="stylesheet" type="text/css">
</head>
<body class="body-box">
<nav class="navbar navbar-expand-md fixed-top" style="background: #fff !important;">
    <a class="navbar-brand" href="/" style="margin-left:17%;color: #19191a;font-size: 20px;"><strong>GFBBS</strong></a>
    <div class="input-group col-sm-2">
        <input type="text" class="form-control form-control-sm"  style="border-radius: 10px;" placeholder="关键词搜索">
    </div>
    <button class="navbar-toggler p-0 border-0" type="button" data-toggle="offcanvas">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto"></ul>
        <div class="dropdown">
            {{if .Session.user}}
                <div class="btn-group" role="group" aria-label="First group">
                    <button type="button" class="btn btn-light">
                        <i class="fa fa-bell"></i> <span class="badge badge-danger">0 </span>
                    </button>
                    <button type="button" class="btn btn-light dropdown-toggle" id="dropdownMenuButton"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img src="/3765fb75169bb6f49ee20d1a1ec900e3.png" style="max-height: 26px;max-width: 26px;border-radius:100%;"> {{ .Session.user.name }}
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="/user/{{.Session.user.id}}">用户详情</a>
                        <form action="/user/logout" method="POST">
                            <button class="dropdown-item">退出登录</button>
                        </form>
                    </div>
                </div>
            {{else}}
                <div class="btn-group" role="group" aria-label="First group">
                    <a type="button" class="btn btn-light" href="/user/register">注册</a>
                    <a type="button" class="btn btn-light" href="/user/login">登录</a>
                </div>
            {{end}}
        </div>
    </div>
</nav>
<main role="main" class="container">
    <div style="margin-top:80px;">
        <div class="row">
            <div class="col-sm-9">
                <div class="alert alert-dismissible fade show alert-msg" role="alert" style="display: none;">
                    <span class="msg-content"></span>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
            {{include .mainTpl .}}
        </div>
    </div>
</main>
<script>
    $(function () {

        $('.top-node-btn').on('click', function (e) {
            window.location = "/?pid=" + $(this).attr('data-id')
        });
        $('.child-node-btn').on('click', function (e) {
            window.location = "/nodes/" + $(this).attr('data-id')
        });

        function message(content, type = "success") {
            $('.alert-msg .msg-content').text(content);
            $('.alert-msg').addClass('alert-' + type).show();
        }

        var error = "{{.Session.error}}"
        if (error) {
            message(error, "danger")
        }
        var success = "{{.Session.success}}"
        if (success) {
            message(success, "success")
        }
    });
</script>
</body>
</html>
