<div class="col-sm-9">
    <ul class="list-group list-group-flush">
        <li class="list-group-item"><a href="">V2EX</a> › <a href="">游戏</a></li>
        <li class="list-group-item">
            <h5>{{ .posts.title }}</h5>
            <div>
                <a href="" class="badge badge-light" style="color: #acacac;"><i
                            class="fa fa-tag"></i> {{.posts.node_name}}</a>
                <a href="" class="badge badge-light" style="color: #acacac;"><i
                            class="fa fa-user"></i> {{.posts.user_name}}</a>
                <span class="badge badge-light" style="color: #acacac;"><i
                            class="fa fa-clock"></i> {{StrTime .posts.create_at.String}}</span>
                <span class="badge badge-light" style="color: #acacac;"><i
                            class="fa fa-comment"></i> {{.posts.view_num}}</span>
            </div>
        </li>
        <li class="list-group-item posts-content">
            {{ .posts.content }}
        </li>
        <li class="list-group-item mt-2" style="color: #999;font-size: 14px;">
            {{ .posts.comment_num }} 条回复
        </li>
        {{range $comment := .comments}}
            <div class="list-group-item">
                <div class="comment-user-info" style="height: 22px;">
                    <a href="/users/{{$comment.uid}}">
                        <img src="/{{$comment.avatar}}" style="border-radius: 2px;height: 30px;width:30px;">
                    </a>
                    <a href="" style="font-size: 14px;color:#999;"><strong>{{$comment.name}}</strong></a>
                    <span style="font-size: 14px;color: #999;">{{StrTime $comment.create_at.String}}</span>
                </div>
                <hr>
                <div class="comment-content" style="font-size: 14px;">
                    {{if gt $comment.ruid 0}}
                        @ <a href="" style="color: #778087;">{{ $comment.r_user_name }}</a>
                    {{end}}
                    <p>{{ $comment.content }}</p>
                    <p style="width: 100%;text-align: right;">
                        <span style="font-size: 13px;color: #999;cursor: pointer;">回复</span>
                        <span style="font-size: 13px;color: #999;cursor: pointer;">举报</span>
                        <span style="font-size: 13px;color: #999;cursor: pointer;">删除</span>
                    </p>
                </div>
            </div>
        {{end}}
        <li class="list-group-item">
            <div class="page">
                {{ .page }}
            </div>
        </li>
        <li class="list-group-item mt-2">
            <form action="/comment" method="POST" id="comment-form">
                <div class="form-group">
                    <textarea class="form-control" rows="3" name="content" id="content"></textarea>
                </div>
                <input type="hidden" name="pid" value="{{ .posts.id }}">
                <input type="hidden" name="ruid" value="0">
                <input type="hidden" name="uid" value="{{ .Session.user.id }}">
                <div class="form-group">
                    <button class="btn btn-dark btn-sm submit-btn" type="button">回复</button>
                </div>
            </form>
        </li>
    </ul>
</div>
</div>
<!-- Login Modal -->
<div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">请登录</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="POST" action="/user/login?callback_url=/posts/{{ .posts.id }}">
                    <div class="form-group">
                        <div class="form-label-group error">
                            <label for="inputEmail">邮箱</label>
                            <input type="email" id="inputEmail" name="email" class="form-control"
                                   placeholder="Email address" required="required" autofocus="autofocus"
                                   value="admin@qq.com">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-label-group">
                            <label for="inputEmail">密码</label>
                            <input type="password" name="password" class="form-control"
                                   placeholder="密码" required="required" value="123456" id="inputEmail">
                            <div class="invalid-feedback">Please provide a valid zip.</div>
                        </div>
                    </div>
                    <button class="btn btn-secondary">登录</button>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    $(function () {
        $(".submit-btn").on("click", function () {
            if (auth === "") {
                $('#login-modal').modal('show');
            } else {
                if ($('#content').val()) {
                    $('#content').br
                    $('#comment-form').submit();
                }
            }
        });
    })
</script>