<ul class="list-group list-group-flush">
    <li class="list-group-item">
        <h5>{{ .posts.title }}</h5>
        <div class="list-item-bottom">
            <a href="" class="node">{{ .posts.node_name }} </a>
            <a href="" class="user"><i class="fa fa-user"></i> {{.posts.user_name}}</a>
            <span class="time"><i class="fa fa-eye"></i> {{.posts.view_num}} </span>
            <span class="time"><i class="fa fa-clock"></i> {{.posts.created_at}}</span>
        </div>
    </li>
    <li class="list-group-item">
        {{ .posts.content }}
    </li>
    <li class="list-group-item mt-4" style="color: #999;font-size: 14px;">
        ({{ .posts.comment_num }})条回复
    </li>
    {{range $comment := .comments}}
        <li class="list-group-item">
            <div class="avatar-div">
                <a href="/users/{{$comment.uid}}"><img src="/{{$comment.avatar}}" class="user-avatar"></a>
            </div>
            <div class="list-div">
                <div class="list-item-bottom">
                    <a href="" class="user" style="font-size: 14px;">{{$comment.name}}</a>
                    <span class="time" style="font-size: 12px;"></i>{{$comment.created_at}}</span>
                </div>
                <div class="list-item-div" style="font-size: 14px;">
                    {{if gt $comment.ruid 0}}
                        @ <a href="" style="color: #778087;">{{ $comment.r_user_name }}</a>
                    {{end}}
                    {{ $comment.content }}
                </div>
            </div>
        </li>
    {{end}}
</ul>