<link rel="stylesheet" href="/markdown/css/editormd.min.css"/>
<ul class="list-group list-group-flush">
    <li class="list-group-item"><a href="">V2EX</a> › <a href="">游戏</a></li>
    <li class="list-group-item">
        <h5>{{ .posts.title }}</h5>
        <div class="list-item-bottom">
            <a href="" class="node">{{ .posts.node_name }} </a>
            <a href="" class="user"><i class="fa fa-user"></i> {{.posts.user_name}}</a>
            <span class="time"><i class="fa fa-eye"></i> {{.posts.view_num}} </span>
            <span class="time"><i class="fa fa-clock"></i> {{.posts.created_at}}</span>
        </div>
    </li>
    <li class="list-group-item posts-content">
        {{ .posts.content }}
    </li>
    <li class="list-group-item mt-2" style="color: #999;font-size: 14px;">
        {{ .posts.comment_num }} 条回复
    </li>

    <li class="list-group-item">
        <div class="page">
            {{ .page }}
        </div>
    </li>
    <li class="list-group-item mt-2">
        <form action="/comments" method="POST" class="form-control" style="height: 100%;">
            <div class="form-group">
                <div id="editormd" style="border-radius: 4px;">
                    <textarea name="md_content"></textarea>
                </div>
                <input type="hidden" name="content" id="content">
            </div>
            <div class="form-group">
            </div>
            <div class="form-group">
                <button class="btn btn-dark btn-sm submit-btn" type="button">提交</button>
            </div>
        </form>
    </li>
</ul>
<script>
    $(function () {
        editormd("editormd", {
            path: "/markdown/lib/",
            width: "100%",
            height: 300,
            codeFold: true,
            watch: false,
            lineNumbers: true,
            lineWrapping: false,
            // toolbarIcons: function () {
            //     return []
            // },
            placeholder: null,
            imageUpload: true,
            imageFormats: ["jpg", "jpeg", "gif", "png"],
            imageUploadURL: "/markdown/file",
            saveHTMLToTextarea: true,
        });
        $('.submit-btn').on('click', function () {
            console.log($('.editormd-preview-container').html());
        })
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>